/*---------- CONTAINER ---------- */
#container {
	max-width: 600px;
	height: 400px;
	margin: 0 auto;
	display: grid;
	border: 1px solid #ccc;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 992px) and (min-width: 

200px;) {
  #container {
    flex: 50%;
  }
}
/* ---------- FIM ----------*/


/*---------- AVATAR ----------*/
.item img {
	width: 50px;
	height: 50px;
	border-radius: 90px;
	background-color: #cc66cc;
	background-image: url('rachel.jpg');
	background-size: cover;
	align-items: flex-start;
	/*flex: 0;   flex valores 0 ou 1*/
	
} 
@media screen and (max-width: 992px) and (min-width: 

200px;) {
  .item img {
    flex: 50%;
  }
}

/*---------- PODIO ---------- */
.podio {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; /*bottom to top*/
	justify-content: flex-end;
}
@media screen and (max-width: 992px) and (min-width: 

200px;) {
  .podio {
    flex: 50%;
  }
}

/*---------- FIM ---------- */

/*---------- ANIMAÇÃO ----------*/
.podio img { animation: animacao 5s ease forwards 

alternate; 
}

@keyframes animacao {
   from { 
    height: 5%;
  }
   to { 
    height: 300%;
  }
}
/* ---------- FIM ----------*/
